{{> welcomemenu }}

<div class="container" >
    <div class="row">
        <div class="col-md">
            <img src="img/weathericons.jpg" alt="weathericons" class="img-fluid">
        </div>
        <div class="col-md">
        </div>
    </div>
</div>