<table class="table">
    <thead>
    <tr>
        <th>Wetter</th>
        <th>Temperatur</th>
        <th>Wind</th>
        <th>Luftdruck</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>